{% extends 'dynamics/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% block body %}
<div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-ctn">
                                    <h2>Welcome:</h2>
                                    <p><strong>{{ user.username }}</strong> , <span class="bread-ntd"> welcome to the Dyamics Dashboard.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcomb area End-->

    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="fa fa-plus-square"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Dynamics Investment Group</h2>
                                        <p>Dynamics Investment Group is an investment group formed in 2013 by 6 enterprising college goers who studied together at the Kenya Methodsit University.</p><br>
                                        <p>It initially consisted of 13 members but was reduced to 10 after reformation post a brief hiatus between 2014 and 2018.</p>
                                        <br>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contributions Form-->
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-example-wrap mg-t-30">
                        <div class="cmp-tb-hd cmp-int-hd">
                            <h2>Contributions Form</h2>
                            <p> Please submit your monthly contribution below:</p>
                        </div>
                        <!-- message handling -->
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-info">
                                <p><strong>{{ message }}</strong></p>
                            </div>
                            {% endfor %}
                        {% endif %}
                        <!-- end of message-handling -->
                        <!-- Error-Handling -->
                        {% if form_contrib.errors %}
                            <div class="alert alert-warning">
                                <p><strong>{{ form_contrib.non_field_errors }}</strong></p>
                            </div>
                        {% endif %}
                        
                        <!-- End of error-Handling -->
                        <form action="" class="form-inline" method="post">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-example-int form-example-st">
                                        <div class="form-group mb-2">
                                        {% csrf_token %}
                                            <div class="nk-int-st">
                                                {{ form_contrib.amount.errors }}
                                                {{ form_contrib.amount }}
                                                
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-example-int form-example-st">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <div class="nk-int-st">
                                                {{ form_contrib.Contribution_date.errors }}
                                                {{ form_contrib.Contribution_date }}
                                                
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-example-int form-example-st">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <div class="nk-int-st">
                                                {{ form_contrib.member.errors }}
                                                {{ form_contrib.member }}
                                                
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                <div class="form-example-int">
                                    <button type="submit" class="btn"><i class="fas fa-paper-plane"></i>Submit</button>
                                </div>
                            </div>
                           </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Contributions Form -->


{% endblock %}