{% extends 'dynamics/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% block body %}
<div class="modal-dialog text-center">
	<div class="col-sm-8 main-section">
		<h3>Sign Up:</h3><br><br>
		<div class="modal-content">
			<div class="col 12 user-img">
				<!-- Form avatar -->
				<img src="{% static 'dynamics/img/beard_face.png' %}" alt="" title= "Form avatar">
			</div>
			<form action="" class="col-12" method="post">
				{% csrf_token %}
				<div class="form-group">
					{{ form }}
				</div>
				<button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Register</button>
			</form>
		</div><!-- End of modal content -->
	</div>
</div>
{% endblock %}