{% extends 'dynamics/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block body %}
<div class="modal-dialog text-center">
	<div class="col-sm-8 main-section">
		<h3>Forgot Password?</h3>
		<p>Enter your email address below, and we'll send the instructions on how to reset it.</p>
		<br><br>
		<hr>
		<!-- message handling -->
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-info">
					<p><strong>{{ message }}</strong></p>
				</div>
				{% endfor %}
			{% endif %}
			<!-- end of message-handling -->
		<div class="modal-content">
			<div class="col 12 user-img">
				<!-- Form avatar -->
				<img src="{% static 'dynamics/img/beard_face.png' %}" alt="" title= "Form avatar">
			</div>
			<form action="" class="col-12" method="post">
				{% csrf_token %}
				<!-- form error handling -->
				<!-- end of error-handling -->
				<div class="form-group">
					{{ form.as_p }}
				</div>
				<button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Send Email</button>
			</form>
		</div><!-- End of modal content -->
	</div>
</div>
{% endblock %}