{% extends 'dynamics/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% block title %}Enter New Password{% endblock %}
{% block body %}
<div class="modal-dialog text-center">
	<div class="col-sm-8 main-section">
		<h3>Set a new Password!</h3>
		<br><br>
		<hr>
		<!-- message handling -->
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-info">
					<p><strong>{{ message }}</strong></p>
				</div>
				{% endfor %}
			{% endif %}
			<!-- end of message-handling -->
		<div class="modal-content">
			<div class="col 12 user-img">
				<!-- Form avatar -->
				<img src="{% static 'dynamics/img/beard_face.png' %}" alt="" title= "Form avatar">
			</div>
			<form action="" class="col-12" method="post">
				{% csrf_token %}
				<!-- form error handling -->
				{% if form.errors %}
					{% for field in form %}
					<ul>
						{% for error in field.errors %}
							<li><strong><font color="#ffbf00">{{ error|escape }}</font></strong></li>
						{% endfor %}
					</ul>
					{% endfor %}
					<ul>
					{% for error in form.non_field_errors %}
						<li><strong><font color="#ffbf00">{{ error|escape }}</font></strong></li>
					{% endfor %}
					</ul>
				{% endif %}
				<!-- end of error-handling -->
				<!-- manually rendered password_reset_confirm form -->
				<div class="form-group">
					<div>
						{{ form.new_password1.label_tag }}
						{{ form.new_password1 }}	,
					</div><br>
					<div>
						{{ form.new_password2.label_tag }}
						{{ form.new_password2 }}
					</div>
				</div>
				<button type="submit" class="btn"><i class="fas fa-key"></i>Change Password</button>
			</form><!-- End of form -->
		</div><!-- End of modal content -->
	</div>
</div>
{% endblock %}