{% extends 'dynamics/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% block body %}
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-ctn">
                                    <h2>Password Reset Complete:</h2> 
                                    <p><span class="bread-ntd"> Your password has been reset. Go ahead and log in:</span></p>
                                    <br>
                                    <p><strong><a href="{% url 'login' %}">Login</a></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Breadcomb area End-->
{% endblock %}